In [6]:
import pandas as pd
import os

In [7]:
os.listdir("C:\\Workspace\\activity_recognition_project\\data\\external")

['.gitkeep',
 'bending1',
 'bending2',
 'cycling',
 'lying',
 'sitting',
 'standing',
 'walking']

In [8]:
read = 0
failed = 0
looped = 0
flist = []
for root, dirs, files in os.walk("C:\\Workspace\\activity_recognition_project\\data\\external"):
    for name in files:
        looped += 1
        try:
            pd.read_csv(os.path.join(root,name), header=4)
            read += 1
        except:
            failed += 1
            flist.append(os.path.join(root,name))
print(looped, read, failed)

89 86 3

In [9]:
flist

['C:\\Workspace\\activity_recognition_project\\data\\external\\.gitkeep',
 'C:\\Workspace\\activity_recognition_project\\data\\external\\cycling\\dataset14.csv',
 'C:\\Workspace\\activity_recognition_project\\data\\external\\cycling\\dataset9.csv']

In [10]:
col_name_list = ['# Columns: time', 'avg_rss12', 'var_rss12', 'avg_rss13', 'var_rss13', 'avg_rss23', 'var_rss23']

col_dtype_list = ['int64', 'float64', 'float64', 'float64', 'float64', 'float64', 'float64']


error_files = []
df = pd.DataFrame()
for root, dirs, files in os.walk("C:\\Workspace\\activity_recognition_project\\data\\external"):
    for name in files:
        try:
            subdf = pd.read_csv(os.path.join(root, name), header=4)
            if list(subdf.columns) == col_name_list: # col names validation
                if list(subdf.dtypes) == col_dtype_list: # col dtypes validation
                    with open(os.path.join(root, name)) as f:
                        subdf["label"] = f.readlines()[0]
                        f.close()
                    df = pd.concat([df, subdf], axis=0, ignore_index=True)
                else:
                    error_files.append(os.path.join(root, name))
            else:
                error_files.append(os.path.join(root, name))
        except:
            error_files.append(os.path.join(root, name))

In [73]:
import numpy as np

In [82]:
pd.DataFrame.equals(df, df.dropna())

True

In [103]:
file = "C:\\Workspace\\activity_recognition_project\\data\\external\\bending2\\dataset2.csv"
pd.read_csv(file, header=4)

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,27.00,0.00,24.00,0.00,19.00,1.00
1,250,27.00,0.00,24.00,0.00,19.75,0.83
2,500,27.00,0.00,23.50,0.50,20.00,1.22
3,750,27.00,0.00,24.00,0.00,14.75,1.48
4,1000,27.00,0.00,23.75,0.43,14.50,1.50
...,...,...,...,...,...,...,...
475,118750,23.00,0.71,11.25,2.49,26.75,1.92
476,119000,22.25,0.43,15.50,0.87,29.50,1.50
477,119250,23.75,0.43,17.67,0.47,25.67,3.09
478,119500,24.25,0.43,13.33,1.25,30.00,2.45
479,119750,25.33,0.47,14.75,1.09,25.33,3.68

In [106]:
with open(file, "r") as f:
    print(f.readline().split(" ")[-1])

bending2

In [111]:
df.to_csv(os.path.join("werew")+".csv")

In [59]:
r, d, f = "", "", ""
for root, dirs, files in os.walk("C:\\Workspace\\activity_recognition_project\\data\\external"):
    print(files)

['.gitkeep']
['dataset1.csv', 'dataset2.csv', 'dataset3.csv', 'dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv']
['dataset1.csv', 'dataset2.csv', 'dataset3.csv', 'dataset4.csv', 'dataset5.csv', 'dataset6.csv']
['dataset1.csv', 'dataset10.csv', 'dataset11.csv', 'dataset12.csv', 'dataset13.csv', 'dataset14.csv', 'dataset15.csv', 'dataset2.csv', 'dataset3.csv', 'dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv', 'dataset8.csv', 'dataset9.csv']
['dataset1.csv', 'dataset10.csv', 'dataset11.csv', 'dataset12.csv', 'dataset13.csv', 'dataset14.csv', 'dataset15.csv', 'dataset2.csv', 'dataset3.csv', 'dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv', 'dataset8.csv', 'dataset9.csv']
['dataset1.csv', 'dataset10.csv', 'dataset11.csv', 'dataset12.csv', 'dataset13.csv', 'dataset14.csv', 'dataset15.csv', 'dataset2.csv', 'dataset3.csv', 'dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv', 'dataset8.csv', 'dataset9.csv']
['dataset1.csv', 'dataset10.csv', 'dataset11.csv', 'dataset12.csv', 'dataset13.csv', 'dataset14.csv', 'dataset15.csv', 'dataset2.csv', 'dataset3.csv', 'dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv', 'dataset8.csv', 'dataset9.csv']
['dataset1.csv', 'dataset10.csv', 'dataset11.csv', 'dataset12.csv', 'dataset13.csv', 'dataset14.csv', 'dataset15.csv', 'dataset2.csv', 'dataset3.csv', 'dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv', 'dataset8.csv', 'dataset9.csv']

In [60]:
f

''

In [54]:
import re
regex = r'(.*)\.csv'
if(re.match(regex, "dataset.csv")):
    print("ok")

ok

In [11]:
df

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23,label
0,0,39.25,0.43,22.75,0.43,33.75,1.30,# Task: bending1\n
1,250,39.25,0.43,23.00,0.00,33.00,0.00,# Task: bending1\n
2,500,39.25,0.43,23.25,0.43,33.00,0.00,# Task: bending1\n
3,750,39.50,0.50,23.00,0.71,33.00,0.00,# Task: bending1\n
4,1000,39.50,0.50,24.00,0.00,33.00,0.00,# Task: bending1\n
...,...,...,...,...,...,...,...,...
40794,118750,31.50,1.66,12.50,3.20,14.25,4.44,# Task: walking\n
40795,119000,27.33,1.25,11.33,0.94,20.00,4.00,# Task: walking\n
40796,119250,37.80,7.68,14.20,2.48,17.25,0.83,# Task: walking\n
40797,119500,33.75,1.30,15.75,5.21,16.50,2.69,# Task: walking\n
40798,119750,32.67,3.09,18.67,0.47,14.00,3.16,# Task: walking\n

In [12]:
error_files

['C:\\Workspace\\activity_recognition_project\\data\\external\\.gitkeep',
 'C:\\Workspace\\activity_recognition_project\\data\\external\\bending2\\dataset4.csv',
 'C:\\Workspace\\activity_recognition_project\\data\\external\\cycling\\dataset14.csv',
 'C:\\Workspace\\activity_recognition_project\\data\\external\\cycling\\dataset9.csv']

In [13]:
df.isna().sum()

# Columns: time    0
avg_rss12          0
var_rss12          0
avg_rss13          0
var_rss13          0
avg_rss23          0
var_rss23          0
label              0
dtype: int64

In [14]:
dfx = pd.read_csv('C:\\Workspace\\activity_recognition_project\\data\\external\\cycling\\dataset13.csv', header=4)
dfx

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,34.50,4.39,19.50,3.20,18.00,3.54
1,250,36.00,3.08,15.00,5.20,12.00,3.56
2,500,42.75,0.83,10.00,4.55,9.25,2.38
3,750,40.00,2.83,17.67,1.89,14.25,1.92
4,1000,34.25,3.03,14.25,5.36,20.00,1.22
...,...,...,...,...,...,...,...
475,118750,36.75,2.86,20.75,4.55,15.25,3.77
476,119000,38.75,1.09,18.25,4.92,20.25,2.59
477,119250,42.50,0.87,12.50,4.15,15.75,5.76
478,119500,36.25,3.90,19.00,3.74,23.67,2.49
479,119750,29.75,4.60,22.25,4.26,20.50,2.87

In [15]:
dfx["avg_rss12"].dtypes == "float64"

True

In [16]:
col_dtype_list = []
for i in dfx.dtypes:
    col_dtype_list.append(str(i))
col_dtype_list

['int64', 'float64', 'float64', 'float64', 'float64', 'float64', 'float64']

In [17]:
list(dfx.dtypes) == col_dtype_list

True

In [18]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

In [19]:
df["label"].value_counts()

# Task: lying\n       7200
# Task: standing\n    7200
# Task: walking\n     7200
# Task: sitting\n     7199
# Task: cycling\n     6240
# Task: bending1\n    3360
# Task: bending2\n    2400
Name: label, dtype: int64

In [20]:
df["label"] = LabelEncoder().fit_transform(df["label"])
df

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23,label
0,0,39.25,0.43,22.75,0.43,33.75,1.30,0
1,250,39.25,0.43,23.00,0.00,33.00,0.00,0
2,500,39.25,0.43,23.25,0.43,33.00,0.00,0
3,750,39.50,0.50,23.00,0.71,33.00,0.00,0
4,1000,39.50,0.50,24.00,0.00,33.00,0.00,0
...,...,...,...,...,...,...,...,...
40794,118750,31.50,1.66,12.50,3.20,14.25,4.44,6
40795,119000,27.33,1.25,11.33,0.94,20.00,4.00,6
40796,119250,37.80,7.68,14.20,2.48,17.25,0.83,6
40797,119500,33.75,1.30,15.75,5.21,16.50,2.69,6
40798,119750,32.67,3.09,18.67,0.47,14.00,3.16,6

In [21]:
df.corrwith(df["label"])

# Columns: time    0.000008
avg_rss12          0.027495
var_rss12          0.305908
avg_rss13         -0.096466
var_rss13          0.168801
avg_rss23         -0.388156
var_rss23          0.227000
label              1.000000
dtype: float64

In [22]:
df = df.drop("# Columns: time", axis=1)

In [23]:
df

       avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  var_rss23  label
0          39.25       0.43      22.75       0.43      33.75       1.30      0
1          39.25       0.43      23.00       0.00      33.00       0.00      0
2          39.25       0.43      23.25       0.43      33.00       0.00      0
3          39.50       0.50      23.00       0.71      33.00       0.00      0
4          39.50       0.50      24.00       0.00      33.00       0.00      0
...          ...        ...        ...        ...        ...        ...    ...
40794      31.50       1.66      12.50       3.20      14.25       4.44      6
40795      27.33       1.25      11.33       0.94      20.00       4.00      6
40796      37.80       7.68      14.20       2.48      17.25       0.83      6
40797      33.75       1.30      15.75       5.21      16.50       2.69      6
40798      32.67       3.09      18.67       0.47      14.00       3.16      6

[40799 rows x 7 columns]

In [24]:
scaler = StandardScaler()
df1 = pd.DataFrame(scaler.fit_transform(df.drop("label", axis=1)), columns=df.columns[:-1])
df1["label"] = df["label"]
df1

       avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  var_rss23  label
0       0.027492  -0.495589   1.557530  -0.645182   2.605057  -0.182038      0
1       0.027492  -0.495589   1.603571  -0.909776   2.495151  -0.984483      0
2       0.027492  -0.495589   1.649612  -0.645182   2.495151  -0.984483      0
3       0.066963  -0.461477   1.603571  -0.472889   2.495151  -0.984483      0
4       0.066963  -0.461477   1.787735  -0.909776   2.495151  -0.984483      0
...          ...        ...        ...        ...        ...        ...    ...
40794  -1.196087   0.103808  -0.330146   1.059294  -0.252492   1.756175      6
40795  -1.854452  -0.095991  -0.545617  -0.331362   0.590118   1.484578      6
40796  -0.201436   3.037442  -0.017068   0.616253   0.187131  -0.472153      6
40797  -0.840855  -0.071625   0.268385   2.296116   0.077225   0.675961      6
40798  -1.011366   0.800668   0.806143  -0.620569  -0.289128   0.966075      6

[40799 rows x 7 columns]

In [25]:
traindf, testdf = train_test_split(df1, test_size=0.2, stratify=df1["label"], random_state=45)

In [26]:
testdf

       avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  var_rss23  label
19979  -0.327741  -0.217819  -1.803454  -0.602109   0.736659  -0.984483      4
22621   0.935310  -0.705134  -1.803454   1.059294   0.297036  -0.546224      4
17943   0.066963  -0.461477  -0.606391  -0.909776  -0.911927  -0.472153      3
39942  -0.643503   0.137920   0.590672   1.108520   0.590118  -0.231419      6
30554   0.895839  -0.495589   0.728794  -0.645182  -0.069316  -0.293146      5
...          ...        ...        ...        ...        ...        ...    ...
23794   0.935310  -0.705134   0.314426  -0.472889   1.103012  -0.447462      4
36914   0.264314   3.305465  -0.284105   2.056135  -0.289128   2.990705      6
38086  -0.209330   1.692454   0.452549   0.850080  -0.325763  -0.070930      6
20318   1.132661  -0.300663   0.314426  -0.159068  -0.399033   0.422882      4
27724  -0.090919  -0.461477  -0.744514   0.622406   0.663389  -0.447462      5

[8160 rows x 7 columns]

In [27]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [38]:
rf_model = RandomForestClassifier(n_estimators=200, criterion="gini")
rf_model.fit(traindf.drop("label", axis=1), traindf["label"])

RandomForestClassifier(n_estimators=200)

In [39]:
pred = rf_model.predict(testdf.drop("label", axis=1))

In [40]:
print(classification_report(testdf["label"], pred))

              precision    recall  f1-score   support

           0       0.91      0.89      0.90       672
           1       0.87      0.80      0.84       480
           2       0.68      0.65      0.66      1248
           3       0.95      0.99      0.97      1440
           4       0.75      0.73      0.74      1440
           5       0.78      0.78      0.78      1440
           6       0.73      0.77      0.75      1440

    accuracy                           0.80      8160
   macro avg       0.81      0.80      0.81      8160
weighted avg       0.80      0.80      0.80      8160

In [31]:
lr_model = LogisticRegression(penalty="elasticnet")
lr_model.fit(traindf.drop("label", axis=1), traindf["label"])
pred = lr_model.predict(testdf.drop("label", axis=1))
print(classification_report(testdf["label"], pred))

              precision    recall  f1-score   support

           0       0.88      0.79      0.83       672
           1       0.67      0.66      0.67       480
           2       0.61      0.58      0.60      1248
           3       0.78      0.86      0.81      1440
           4       0.52      0.51      0.51      1440
           5       0.64      0.63      0.63      1440
           6       0.70      0.72      0.71      1440

    accuracy                           0.67      8160
   macro avg       0.69      0.68      0.68      8160
weighted avg       0.67      0.67      0.67      8160

In [83]:
abc = ["apple", "orange"]

In [84]:
abc

['apple', 'orange']

In [99]:
with open("bad_data_files.log", "w") as f:
    for file in abc:
        f.write(file + "\n")
    f.close()

In [88]:
[file for file in abc]

['apple', 'orange']

In [89]:
for file in abc:
    file